#text{
    font-size: 70px;
    color: white;
    font-family: fantasy;
    text-align: center;
    position: absolute;
    top:45%;
    display: block;
    width: 100%;
}
body{
    background-color: black; 
    cursor:none;
    margin: 0;
}
*{
    box-sizing: border-box;
}
#navbar{
    overflow: hidden;
    background-color: black;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 99;
}
#navbar a{
    float:left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
#navbar #logo{
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}
#navbar a:hover{
    background-color: gray;
    color: gainsboro;
}
#navbar a.active{
    background-color: black;
    color:white;
}
#navbar-right{
    float: right;
}
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}