#text{
    font-size: 70px;
    color: white;
    font-family: fantasy;
    text-align: center;
    position: absolute;
    top:50%;
    display: block;
/*    left: 45%;*/
/*    z-index=-900px;*/
}
nav,footer,header{
    display:block;
}
.header{
    background-color: black;
    z-index: -600;
}
body{
    margin:0;
    line-height:1; 
/*    cursor:none;*/
}
label{
    font-size:35px;
    font-weight: 600;
}
nav{
    position:fixed;
/*    top=0;*/
    width: 100%;
/*    z-index: 300;*/

}

p{
    font-size: 28px;
    line-height: 1.2;
}
article p{
    font-size:35px;
    padding: 20px;
}
.container{
    width:100%;
    margin:auto;
    padding-top:4%;
    padding-bottom:4%;
}

.row{
    width=100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.row::after{
    display:table;
    clear:both;
    content: "";
}

.col-1{width:8.333%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.333%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.333%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.333%;}
.col-11{width:91.66%;}
.col-12{width:100%;}


*{
    box-sizing: border-box;
}

nav{
    width:10%;
     margin:0;
    top:40%;
    position: absolute;
}

nav ul{
/*    background-color: #eee;*/
    overflow:hidden;
/*    margin: 0;*/
    padding: 0;
/*    margin-top: 300;*/
    
}
ul.navbar li{
  list-style:disc;

/*    float:left;*/
}
ul.navbar li.navbar-right {
/*    float:right;*/
}

ul.navbar li a{
  display:block;
    text-decoration: none;
    min-height: 16px;
    text-align: left;
    text-transform: uppercase;
    padding:10px;
    color: #fff;
    font-family:sans-serif;
    padding-left:15px;
    
}

ul.navbar li a:hover{
    color: #fff;
    background-color: #0080ff;
}
ul.navbar li.dropdownicon{
   display: none;
}

/*

#section-1-gradient{
    background: linear-gradient(#076DFF,#65a5ff);
}
div.box{
    background-color: white;
    
    box-shadow:0 0 0 1px rgba(0,0,0,0.15),0 2px 3px 0 rgba(0,0,0,.1);
    text-align: center;
    margin:20px;
    padding:36px 24px 40px 24px;
    border-radius: 7px;
}

div.slopeicon img{
    display:block;
    margin:auto;
    box-shadow:-2px -2px 20px 2px rgba(0,0,0,.15),2px 2px 17px 2px rgba(0,0,0,1);
}
button{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background-color: #0069ff;
    border-radius: 10px;
    padding:15px 60px;
    display:block;
    margin:auto;
}
div.icon{
    width:100%;
}
.image{
    width:110px;
    height: 110px;
}
.leftside-col{
    margin-left: 30%;
}
.rightside-col{
    margin-left:20%;
}
h1.large{
    font-size:56px;
    color: #fff;
    margin:0;
    line-height: 70px;
}
form  h2{
    color: white;
}

input[type="text"]{
    font-size:20px;
    width:400px;
    padding:5px;
    min-width:100px;
    border-radius: 7px;
}
h1.section2header{
    text-align:center;
    font-size: 35px;
}


footer.footsy{
    background-color: #666;
    padding-left:10%;
}
footer.footsy h1{
    color: white;
    font-size:35px;
}

footer.footsy ul{
    list-style: none;
    padding:0;
    text-align: left;
    
}
footer.footsy ul li{
    color:white;
    font-size:22px;
    line-height:1.5;
        
}
*/

@media screen and (max-width:680px){
    ul.navbar li:not(:nth-child(1)){
        display:none;
    }
    ul.navbar li.dropdownicon{
        display:block;
        float:right;
    }
    

ul.navbar.responsive{
    position:relative;
}
ul.navbar.responsive li{
    display:inline;
    float:none;
    
}
ul.navbar.responsive li a{
    display:block;
    text-align: left;
}
    .col-6,.col-4,.col-7,.col-5{
        margin:0;
        width:100%;
    }
    
    .col-3{
        width:50%;
        display:block;
    }
    
    div.leftside-col,div.rightside-col{
        margin:15px;
    }
    input[type="text"]
    {
        width:350px;
    }
    .videocontainer iframe{
        position: relative;
        width:100%;
        margin:0;
        overflow:hidden;
    }
    h1.section2header{
        font-size:55px;
    }
    article p{
        font-size:25px;
    }
    
    div.slopeicon:{margin: 10px;}
    
    
    
}
/*
.light{
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
}
*/
