html{
    scroll-behavior: smooth;
}
@font-face{
    font-family:raleway;
    src:url(raleway.bold.ttf);
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
    z-index: -100;
}
#text{
    font-size: 5vw;
    color: white;
    font-family: raleway;
    text-align: center;
    position: absolute;
    top:45%;
    display: inline;
    width: 100%;
}
body{
    background-color: black; 
    cursor:none;
    margin: 0;
}
.footer{
    background-color: black;
    min-height: 18vh;
    width=100%;
    margin: auto;
}
.footer .row .column a{
    margin: auto;
    width=50%;
    font-size: 3vh;
    color: gray;
    padding: 9px;
    

}
*{
    box-sizing: border-box;
}
/*styling navbar*/
#navbar{
    overflow: hidden;
    background-color: none;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 99;
}
#navbar a{
    float:left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
#navbar #logo{
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}
#navbar a:hover{
    background-color: gray;
    color: gainsboro;
}
#navbar a.active{
    background-color: black;
    color:white;
}
#navbar-right{
    float: right;
}
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
/*styling navbar*/
#topButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    
}
.first-page{
    min-height: 100vh;
}
.second-page{
    color: white;
    font-size: 20px;
/*    position: relative;*/
    min-height: 100vh;

}
.parallax{
    min-height: 100vh;
    background: transparent;
}
.hobby-page{
    min-height: 80vh;
    background-color: #0A0A0A;
}
.heading{
    padding: 0px 0px 10vh;
    margin: auto;
    color: rgb(200,200,200);
    text-align: center;
}
.project-page{
    min-height: 80vh;
}


.mid p{
    font-family:raleway;
    color:white;
    font-size: 5vw;
    text-align: center;
    min-height: 30vh;
    padding: 5%;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    max-width: 22%;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.card h1{
    font-size: 2vw;
    margin: auto;
    padding-top: 2vw;
}
.card p{
    padding-top: 1.2vw;
}
.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position: relative; 
}
.card button:hover{
    opacity: 0.7;
}